<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="js/vue1.0.js"></script>
</head>
<body>
    
    <div id="ex">
        <input type="radio" id="one" value="fast" v-model="currentView">
        <label for="one1">fast</label>
        <br>
        <input type="radio" id="two" value="bus" v-model="currentView">
        <label for="two1">bus</label>
        <br>
        <input type="radio" id="three" value="business" v-model="currentView">
        <label for="three">business</label>
        <br>
        
        <template id="business">
            <div>{{msg}}滴滴专车</div>
        </template>
        <template id="fast">
            <div>{{msg}}滴滴快车</div>
        </template>

        <component v-bind:is="currentView" :msg="hello">

        </component>


        <!-- <didi v-for="item1 in items" v-bind:item1="item1.title" v-bind:index="$index"></didi> -->
    </div>

    <script src="js/test15.js"></script>
</body>
</html>