<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="js/vue.js"></script>
</head>

<body>
    <!-- <div id="components-demo">
        <button-counter></button-counter>
    </div> -->

    <!-- <div id="blog-post-demo">
        <blog-post v-for="post in posts" v-bind:key="post.id" v-bind:post="post"></blog-post>
    </div> -->

    <div id="blog-posts-events-demo">
        <div :style="{ fontSize: postFontSize + 'em' }">
            <div>12367812</div>
            <blog-post 
                v-for="post in posts"
                v-bind:key="post.id"
                v-bind:post="post"
                v-on:enlarge-text12="postFontSize += 0.1"
            >
            </blog-post>
        </div>
    </div>

    <script src="js/test8.js"></script>
</body>

</html>